<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ganlvtech.kahlanotify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogActivity"
            android:label="@string/title_activity_log"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.LoginActivity" />
        <activity
            android:name=".ConversationListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ConversationActivity"
            android:theme="@style/AppTheme.ConversationActivity" />
        <activity android:name=".legacy.MainActivity" />

        <service
            android:name=".legacy.KahlaService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>